canvas {
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("yesbot.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

body,
html {
	height: 100%;
	margin: 0;
}
